flows/Create_New_Batch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <constants>
        <description>one</description>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Checks against duplicate Batch Labels</description>
        <name>Does_Batch_ID_already_exist</name>
        <label>Does Batch Label already exist?</label>
        <locationX>428</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Create_New_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Batch_Label_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DUPLICATE_VALUE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Batch_Screen_0</targetReference>
            </connector>
            <label>Batch Label already exists</label>
        </rules>
    </decisions>
    <description>Creates new Batch Record from SOW.</description>
    <dynamicChoiceSets>
        <name>ExpectedReportingQuarter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expected_Reporting_Quarter__c</picklistField>
        <picklistObject>Batch__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Adds one</description>
        <name>AddOne</name>
        <dataType>Number</dataType>
        <expression>{!varNextBatch}+{!One}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Creates Batch ID via formula</description>
        <name>BatchID</name>
        <dataType>String</dataType>
        <expression>{!varAccountCode}+{!Underscore}+{!varSOWNumber}+{!Underscore}+{!varProductName}+{!Underscore}+{!TextNextBatch}</expression>
    </formulas>
    <interviewLabel>Create New Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new batch record</description>
        <name>Create_New_Batch</name>
        <label>Create New Batch</label>
        <locationX>690</locationX>
        <locationY>61</locationY>
        <assignRecordIdToReference>varBatchID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_New_Batch</targetReference>
        </connector>
        <inputAssignments>
            <field>Batch_Label__c</field>
            <value>
                <elementReference>Batch_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Batch_Number__c</field>
            <value>
                <elementReference>varSOW.Next_Batch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW__c</field>
            <value>
                <elementReference>varSOW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Batch__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_existing_Batches</name>
        <label>Get existing Batches</label>
        <locationX>309</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Batch_Screen</targetReference>
        </connector>
        <filters>
            <field>Sponsor_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOW.Sponsor_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Batch__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Batch_Label__c</queriedFields>
        <sortField>Batch_Label__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets values from the SOW</description>
        <name>Get_SOW_values</name>
        <label>Get SOW values</label>
        <locationX>170</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Batches</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOWID</elementReference>
            </value>
        </filters>
        <object>SOW__c</object>
        <outputReference>varSOW</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Next_Batch__c</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Account_Code__c</queriedFields>
        <queriedFields>SOW_Number__c</queriedFields>
        <queriedFields>Total_Anticipated_Volume__c</queriedFields>
        <queriedFields>LIMS_Project_ID__c</queriedFields>
        <queriedFields>Next_Batch_Text__c</queriedFields>
        <queriedFields>Sponsor_Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>This updates the batch record that was just created.</description>
        <name>Update_New_Batch</name>
        <label>Update New Batch</label>
        <locationX>813</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Update_Next_Batch</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBatchID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expected_Reporting_Quarter__c</field>
            <value>
                <elementReference>Expected_Reporting_Quarter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Samples_Forecast__c</field>
            <value>
                <elementReference>Number_of_Samples_Forecast</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_for_Scheduling__c</field>
            <value>
                <elementReference>Ready_For_Scheduling</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Date__c</field>
            <value>
                <elementReference>Reporting_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Date__c</field>
            <value>
                <elementReference>Shipment_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This updates the batch record that was just created.</description>
        <name>Update_New_Batch_0</name>
        <label>Update New Batch</label>
        <locationX>742</locationX>
        <locationY>421</locationY>
        <connector>
            <targetReference>Update_Next_Batch</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBatchID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expected_Reporting_Quarter__c</field>
            <value>
                <elementReference>Expected_Reporting_Quarter_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Samples_Forecast__c</field>
            <value>
                <elementReference>Number_of_Samples_Forecast_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ready_for_Scheduling__c</field>
            <value>
                <elementReference>Ready_For_Scheduling_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Date__c</field>
            <value>
                <elementReference>Reporting_Date_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipment_Date__c</field>
            <value>
                <elementReference>Shipment_Date_0</elementReference>
            </value>
        </inputAssignments>
        <object>Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Increments by 1</description>
        <name>Update_Next_Batch</name>
        <label>Update SOW:Next Batch</label>
        <locationX>1046</locationX>
        <locationY>138</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOW.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Batch__c</field>
            <value>
                <elementReference>AddOne</elementReference>
            </value>
        </inputAssignments>
        <object>SOW__c</object>
    </recordUpdates>
    <screens>
        <name>Create_New_Batch_Screen</name>
        <label>Create New Batch Screen</label>
        <locationX>437</locationX>
        <locationY>54</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_Batch_ID_already_exist</targetReference>
        </connector>
        <fields>
            <name>Batch_Screen_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Success! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have created a new batch.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can update these fields on it at this time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Batch_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BatchID</elementReference>
            </defaultValue>
            <fieldText>Batch Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Samples_Forecast</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>varSOW.Total_Anticipated_Volume__c</elementReference>
            </defaultValue>
            <fieldText>Number of Samples Expected:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reporting_Date</name>
            <dataType>String</dataType>
            <fieldText>Client&apos;s Expected Reporting Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipment_Date</name>
            <dataType>String</dataType>
            <fieldText>Client&apos;s Expected Shipment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ready_For_Scheduling</name>
            <dataType>Boolean</dataType>
            <fieldText>Ready For Scheduling?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Reporting_Quarter</name>
            <choiceReferences>ExpectedReportingQuarter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expected Reporting Quarter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_New_Batch_Screen_0</name>
        <label>Create New Batch Screen with new Name</label>
        <locationX>526</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_Batch_0</targetReference>
        </connector>
        <fields>
            <name>Batch_Screen_Header_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(240, 13, 13);&quot;&gt;PROBLEM! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The name for this new batch is already taken. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please update the Batch Name field and try again.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Batch_Name_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>BatchID</elementReference>
            </defaultValue>
            <fieldText>Batch Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Samples_Forecast_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Number_of_Samples_Forecast</elementReference>
            </defaultValue>
            <fieldText>Number of Samples Expected:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Reporting_Date_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Reporting_Date</elementReference>
            </defaultValue>
            <fieldText>Client&apos;s Expected Reporting Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Shipment_Date_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Shipment_Date</elementReference>
            </defaultValue>
            <fieldText>Client&apos;s Expected Shipment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ready_For_Scheduling_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Ready_For_Scheduling</elementReference>
            </defaultValue>
            <fieldText>Ready For Scheduling?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Expected_Reporting_Quarter_0</name>
            <choiceReferences>ExpectedReportingQuarter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Expected Reporting Quarter</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_SOW_values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextNextBatch</name>
        <text>{!varSOW.Next_Batch_Text__c}</text>
    </textTemplates>
    <textTemplates>
        <description>Separation</description>
        <name>Underscore</name>
        <text>_</text>
    </textTemplates>
    <variables>
        <description>Account Code</description>
        <name>varAccountCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varSOW.Account_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>This is the new Batch</description>
        <name>varBatchID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Batch__c</objectType>
    </variables>
    <variables>
        <description>Increments up by 1</description>
        <name>varNextBatch</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varSOW.Next_Batch__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Number of Samples Forecast</description>
        <name>varNumberSamplesForecast</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varSOW.Product_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Field values stored in one record variable</description>
        <name>varSOW</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SOW__c</objectType>
    </variables>
    <variables>
        <description>Number of Samples Forecast in the SOW</description>
        <name>varSOWForecast</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Gets the ID of the SOW where this flow is started</description>
        <name>varSOWID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SOW #</description>
        <name>varSOWNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varSOW.SOW_Number__c</elementReference>
        </value>
    </variables>
</Flow>
