flows/Create_Supplies_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Line_To_Orders</name>
        <label>Add Line To Orders</label>
        <locationX>216</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>lstOrderLine</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOrderLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Fields</name>
        <label>Set Order Fields</label>
        <locationX>405</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>objOrderLine.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtCaseRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOrderLine.Item_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objItem.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_To_Orders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Any_Existing_Lines</name>
        <label>Any Existing Lines</label>
        <locationX>254</locationX>
        <locationY>43</locationY>
        <defaultConnector>
            <targetReference>Get_Item_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Existing Lines</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteOrderLines</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Delete_Lines</targetReference>
            </connector>
            <label>Yes - Existing Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Records_To_Delete</name>
        <label>Any Records To Delete</label>
        <locationX>289</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>Set_Push_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - No Records</defaultConnectorLabel>
        <rules>
            <name>Yes_Records_To_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstOrderLine</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Delete_Lines_w_0_Qty</targetReference>
            </connector>
            <label>Yes - Records To Delete</label>
        </rules>
    </decisions>
    <description>Create supplies order line records from case fields.</description>
    <label>Create Supplies Order</label>
    <loops>
        <name>Loop_Thru_Items</name>
        <label>Loop Thru Items</label>
        <locationX>322</locationX>
        <locationY>192</locationY>
        <assignNextValueToReference>objItem</assignNextValueToReference>
        <collectionReference>lstItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Order_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Records</name>
        <label>Create Order Records</label>
        <locationX>94</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Get_New_Order_Records_w_0_Qty</targetReference>
        </connector>
        <inputReference>lstOrderLine</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Lines</name>
        <label>Delete Lines</label>
        <locationX>544</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Get_Item_List</targetReference>
        </connector>
        <inputReference>DeleteOrderLines</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Lines_w_0_Qty</name>
        <label>Delete Lines w/ 0 Qty</label>
        <locationX>562</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>Set_Push_Date</targetReference>
        </connector>
        <inputReference>lstOrderLine</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Existing_Order_Lines</name>
        <label>Find Existing Order Lines</label>
        <locationX>82</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Existing_Lines</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtCaseRecordID</elementReference>
            </value>
        </filters>
        <object>Supplies_Order_Line__c</object>
        <outputReference>DeleteOrderLines</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Get_Item_List</name>
        <label>Get Item List</label>
        <locationX>546</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Items</targetReference>
        </connector>
        <object>Supply_Item_List__c</object>
        <outputReference>lstItems</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Order_Records_w_0_Qty</name>
        <label>Get New Order Records w/ 0 Qty</label>
        <locationX>93</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Records_To_Delete</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtCaseRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Qty__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Supplies_Order_Line__c</object>
        <outputReference>lstOrderLine</outputReference>
        <queriedFields>Qty__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Push_Date</name>
        <label>Set Push Date</label>
        <locationX>560</locationX>
        <locationY>570</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtCaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Push_To_TheraPak_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Push_To_TheraPak__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TheraPak_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>Find_Existing_Order_Lines</startElementReference>
    <status>Active</status>
    <variables>
        <name>DeleteOrderLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplies_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>lstItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supply_Item_List__c</objectType>
    </variables>
    <variables>
        <name>lstOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplies_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>objItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supply_Item_List__c</objectType>
    </variables>
    <variables>
        <name>objOrderLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Supplies_Order_Line__c</objectType>
    </variables>
    <variables>
        <name>txtCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5008000000X2CcF</stringValue>
        </value>
    </variables>
</Flow>
