flows/Create_New_OPS_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <description>Creates new OPS Request</description>
    <dynamicChoiceSets>
        <description>All OPS Accounts (name starts with &quot;OPS&quot;)</description>
        <name>AllOPSAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>OPS</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varOPSAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOPSAccount.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Acct_Name_and_Number__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Phlebotomist contacts (name starts with OPS)</description>
        <name>AllPhlebContacts</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOPSAccount.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varPhleb.AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhleb.Full_Name__c</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhleb.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Full_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>OPS Status</description>
        <name>OPSStatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OPS_Status__c</picklistField>
        <picklistObject>Offsite_Phlebotomy_Service__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>OPSAttachName</name>
        <dataType>String</dataType>
        <expression>{!varRequestingMD.LastName} + &quot;-&quot;+{!Patient_Name}</expression>
    </formulas>
    <interviewLabel>Create New OPS Req {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New OPS Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new OPS Request</description>
        <name>Create_New_Offsite_Phlebotomy_Service_Request</name>
        <label>Create New Offsite Phlebotomy Service</label>
        <locationX>516</locationX>
        <locationY>59</locationY>
        <assignRecordIdToReference>varOPSRequest.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_OPS_Request_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>varRequestingMD.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Account__c</field>
            <value>
                <elementReference>varOPSAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Request_Received__c</field>
            <value>
                <elementReference>OPS_Request_Received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Status__c</field>
            <value>
                <elementReference>OPSStatusPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requesting_MD__c</field>
            <value>
                <elementReference>varRequestingMD.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRF_Emailed__c</field>
            <value>
                <elementReference>TRF_Emailed</elementReference>
            </value>
        </inputAssignments>
        <object>Offsite_Phlebotomy_Service__c</object>
    </recordCreates>
    <recordCreates>
        <description>Create New OPS Attachment record</description>
        <name>Create_New_OPS_Attachment_record</name>
        <label>Create New OPS Attachment record</label>
        <locationX>829</locationX>
        <locationY>73</locationY>
        <connector>
            <targetReference>Create_New_OPS_Request_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OPSAttachName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offsite_Phlebotomy_Service__c</field>
            <value>
                <elementReference>varOPSRequest.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OPS_Attachment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This flow will start on the Contact object. When an OPS request is received, it will have the name of the requesting MD.</description>
        <name>Get_Ordering_MD</name>
        <label>Get Ordering MD</label>
        <locationX>191</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_OPS_Request</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOrderingMD</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varRequestingMD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Updates the new OPS Request</description>
        <name>Update_New_OPS_Request</name>
        <label>Update New OPS Request</label>
        <locationX>1119</locationX>
        <locationY>76</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOPSRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Appointment_Time__c</field>
            <value>
                <elementReference>Appointment_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Draw_Scheduled__c</field>
            <value>
                <elementReference>Draw_Scheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPS_Attachment__c</field>
            <value>
                <elementReference>Create_New_OPS_Attachment_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Name__c</field>
            <value>
                <elementReference>Patient_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phleb_Assigned__c</field>
            <value>
                <elementReference>Phleb_Assigned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phleb_Name__c</field>
            <value>
                <elementReference>varPhleb.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <object>Offsite_Phlebotomy_Service__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Creates new OPS request. Page 1</description>
        <name>Create_New_OPS_Request</name>
        <label>Create New OPS Request</label>
        <locationX>356</locationX>
        <locationY>53</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Offsite_Phlebotomy_Service_Request</targetReference>
        </connector>
        <fields>
            <name>RequestingMDName</name>
            <fieldText>&lt;p&gt;Requesting MD:  {!varRequestingMD.Full_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Requesting_MD</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varRequestingMD.Account.Name</elementReference>
            </defaultValue>
            <fieldText>Requesting MD&apos;s Account:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OPS_Request_Received</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>OPS Request Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TRF_Emailed</name>
            <dataType>Date</dataType>
            <fieldText>TRF Emailed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>OPS_Account</name>
            <choiceReferences>AllOPSAccounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OPS Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OPS_Status</name>
            <choiceReferences>OPSStatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>OPS Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Create New OPS Request-page 2</description>
        <name>Create_New_OPS_Request_2</name>
        <label>Create New OPS Request-2</label>
        <locationX>653</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_OPS_Attachment_record</targetReference>
        </connector>
        <fields>
            <name>Patient_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Draw_Scheduled</name>
            <dataType>Date</dataType>
            <fieldText>Draw Scheduled</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Appointment_Time</name>
            <dataType>String</dataType>
            <fieldText>Appointment Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phleb_Assigned</name>
            <dataType>Boolean</dataType>
            <fieldText>Has a Phlebotomist been assigned?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Check this box to see all contacts attached to the OPS account from the previous screen.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phleb_Name</name>
            <choiceReferences>AllPhlebContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Phleb Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Phleb_Assigned</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Upload file</description>
        <name>Create_New_OPS_Request_3</name>
        <label>Create New OPS Request - Upload Form</label>
        <locationX>982</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_New_OPS_Request</targetReference>
        </connector>
        <fields>
            <name>OPS_Request_form</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload OPS Request Form Here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_New_OPS_Attachment_record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Select the File to be uploaded (.pdf files only)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>varOPSDocTest</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>varOPSForm</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>49</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Ordering_MD</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Selected OPS Account</description>
        <name>varOPSAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varOPSAttachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OPS_Attachment__c</objectType>
    </variables>
    <variables>
        <description>Text collection variable for doc name</description>
        <name>varOPSDocTest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>OPS Form</description>
        <name>varOPSForm</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOPSRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Offsite_Phlebotomy_Service__c</objectType>
    </variables>
    <variables>
        <description>Ordering MD</description>
        <name>varOrderingMD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Phlebotomist record. Must start with OPS</description>
        <name>varPhleb</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Requesting ID</description>
        <name>varRequestingMD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
