flows/Create_SOW_Amendment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>AmendmentRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120y000000McOd</stringValue>
        </value>
    </constants>
    <constants>
        <description>Constant used to increment up field Amendment No</description>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <description>Updated Project ID field</description>
    <formulas>
        <name>AddOne</name>
        <dataType>Number</dataType>
        <expression>{!varAmendmentNo}+{!One}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create SOW Amendment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SOW Amendment</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Amendment</name>
        <label>Create Amendment</label>
        <locationX>344</locationX>
        <locationY>412</locationY>
        <inputAssignments>
            <field>AM_New_Study_Specifications__c</field>
            <value>
                <elementReference>varAMNewStudySpecs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Analysis_Fees__c</field>
            <value>
                <elementReference>varAddlAnalysisFees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assay_Type__c</field>
            <value>
                <elementReference>varRegulatory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_SOW_Contact_1__c</field>
            <value>
                <elementReference>varClientSOWContact1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_SOW_Contact_2__c</field>
            <value>
                <elementReference>varClientSOWContact2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_SOW_Contact_3__c</field>
            <value>
                <elementReference>varClientSOWContact3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_SOW_Contact_4__c</field>
            <value>
                <elementReference>varClientSOWContact4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Executed_SOW__c</field>
            <value>
                <elementReference>varExecutedSOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Sample_In__c</field>
            <value>
                <elementReference>varFirstSample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GH_Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gene_Panel_Version__c</field>
            <value>
                <elementReference>varGenePanelVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Genes_of_Interest__c</field>
            <value>
                <elementReference>varGenesOfInterest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indications__c</field>
            <value>
                <elementReference>varIndications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Form__c</field>
            <value>
                <elementReference>varCompletedIntakeForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LIMS_Project_ID__c</field>
            <value>
                <elementReference>varLIMSProjID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Sample_In__c</field>
            <value>
                <elementReference>varLastSample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Anticipated_Volume__c</field>
            <value>
                <elementReference>varMonthlyAnticipated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_Treatment__c</field>
            <value>
                <elementReference>varNeedTreatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Patients__c</field>
            <value>
                <elementReference>varNumberofPatients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Fees__c</field>
            <value>
                <elementReference>varOtherFees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_SOW_ID__c</field>
            <value>
                <elementReference>varSOWID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pharma_Type__c</field>
            <value>
                <elementReference>varSOWSubtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Per_Sample__c</field>
            <value>
                <elementReference>varPricePerSample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Name__c</field>
            <value>
                <elementReference>varProductName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Program_Status__c</field>
            <value>
                <elementReference>varProgramStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Description__c</field>
            <value>
                <elementReference>varSOWDescrip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>varPGMStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>varProgram</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Protocol_Received__c</field>
            <value>
                <elementReference>varProtocolReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Number__c</field>
            <value>
                <elementReference>varPONumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order_Received__c</field>
            <value>
                <elementReference>varPOReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AmendmentRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Type__c</field>
            <value>
                <elementReference>varReportDeliveryType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retrospective_Prospective__c</field>
            <value>
                <elementReference>varRetrospective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Execution_Date__c</field>
            <value>
                <elementReference>varSOWExecutionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Number__c</field>
            <value>
                <elementReference>varSOWName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Status__c</field>
            <value>
                <elementReference>varSOWStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Type_Other__c</field>
            <value>
                <elementReference>varSOWTypeOther</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW_Type__c</field>
            <value>
                <elementReference>varSOWType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Collection_Timepoints__c</field>
            <value>
                <elementReference>varSampleCollectionTimepoints</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_up_Fees__c</field>
            <value>
                <elementReference>varSetUpFees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sponsor_Account__c</field>
            <value>
                <elementReference>varSponsorAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <elementReference>varStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage_1__c</field>
            <value>
                <elementReference>varSubStage1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Stage_2__c</field>
            <value>
                <elementReference>varSubStage2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Anticipated_Volume__c</field>
            <value>
                <elementReference>varTotalAncipatedVolume</elementReference>
            </value>
        </inputAssignments>
        <object>SOW__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_SOW_Info</name>
        <label>Get SOW Info</label>
        <locationX>219</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Assignment_No</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOWID</elementReference>
            </value>
        </filters>
        <object>SOW__c</object>
        <outputAssignments>
            <assignToReference>varAMNewStudySpecs</assignToReference>
            <field>AM_New_Study_Specifications__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAddlAnalysisFees</assignToReference>
            <field>Additional_Analysis_Fees__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAmendmentNo</assignToReference>
            <field>Amendment_No__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRegulatory</assignToReference>
            <field>Assay_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClientSOWContact1</assignToReference>
            <field>Client_SOW_Contact_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClientSOWContact2</assignToReference>
            <field>Client_SOW_Contact_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClientSOWContact3</assignToReference>
            <field>Client_SOW_Contact_3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varClientSOWContact4</assignToReference>
            <field>Client_SOW_Contact_4__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varExecutedSOW</assignToReference>
            <field>Executed_SOW__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstSample</assignToReference>
            <field>First_Sample_In__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStartDate</assignToReference>
            <field>GH_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGenePanelVersion</assignToReference>
            <field>Gene_Panel_Version__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGenesOfInterest</assignToReference>
            <field>Genes_of_Interest__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varIndications</assignToReference>
            <field>Indications__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCompletedIntakeForm</assignToReference>
            <field>Intake_Form__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLIMSProjID</assignToReference>
            <field>LIMS_Project_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastSample</assignToReference>
            <field>Last_Sample_In__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMonthlyAnticipated</assignToReference>
            <field>Monthly_Anticipated_Volume__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNeedTreatment</assignToReference>
            <field>Need_Treatment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSOWName</assignToReference>
            <field>Next_Amendment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDetails</assignToReference>
            <field>Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varNumberofPatients</assignToReference>
            <field>Number_of_Patients__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOtherFees</assignToReference>
            <field>Other_Fees__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSOWSubtype</assignToReference>
            <field>Pharma_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPricePerSample</assignToReference>
            <field>Price_Per_Sample__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProductName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProgramStatus</assignToReference>
            <field>Program_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSOWDescrip</assignToReference>
            <field>Project_Description__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPGMStatus</assignToReference>
            <field>Project_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProgram</assignToReference>
            <field>Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProtocolReceived</assignToReference>
            <field>Protocol_Received__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPONumber</assignToReference>
            <field>Purchase_Order_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPOReceived</assignToReference>
            <field>Purchase_Order_Received__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varReportDeliveryType</assignToReference>
            <field>Results_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRetrospective</assignToReference>
            <field>Retrospective_Prospective__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSOWExecutionDate</assignToReference>
            <field>SOW_Execution_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSOWStatus</assignToReference>
            <field>SOW_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSOWTypeOther</assignToReference>
            <field>SOW_Type_Other__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSOWType</assignToReference>
            <field>SOW_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSampleCollectionTimepoints</assignToReference>
            <field>Sample_Collection_Timepoints__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSetUpFees</assignToReference>
            <field>Set_up_Fees__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSponsorAccount</assignToReference>
            <field>Sponsor_Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varStage</assignToReference>
            <field>Stage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubStage1</assignToReference>
            <field>Sub_Stage_1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSubStage2</assignToReference>
            <field>Sub_Stage_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTotalAncipatedVolume</assignToReference>
            <field>Total_Anticipated_Volume__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assignment_No</name>
        <label>Update Assignment No</label>
        <locationX>312</locationX>
        <locationY>267</locationY>
        <connector>
            <targetReference>Create_Amendment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOWID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amendment_No__c</field>
            <value>
                <elementReference>AddOne</elementReference>
            </value>
        </inputAssignments>
        <object>SOW__c</object>
    </recordUpdates>
    <startElementReference>Get_SOW_Info</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAddlAnalysisFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varAmendmentNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varAMNewStudySpecs</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientSOWContact1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientSOWContact2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientSOWContact3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientSOWContact4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCompletedIntakeForm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExecutedSOW</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstSample</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGenePanelVersion</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGenesOfInterest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastSample</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLIMSProjID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMonthlyAnticipated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNeedTreatment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumberofPatients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOtherFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varPGMStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPONumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPOReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricePerSample</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProgram</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProgramStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProtocolReceived</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRegulatory</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportDeliveryType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRetrospective</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSampleCollectionTimepoints</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSetUpFees</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varSOWDescrip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSOWExecutionDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Grabs the initial SOW</description>
        <name>varSOWID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSOWName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSOWStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSOWSubtype</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSOWType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSOWTypeOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSponsorAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStage</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubStage1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubStage2</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTotalAncipatedVolume</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
