flows/Create_DelayedSampleCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Create_Delayed_Sample_Case</name>
        <label>Create Delayed Sample Case</label>
        <locationX>180</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01280000000HmU1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delayed  Sample</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Accession_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccessionNum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAT ALERT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Initiated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAT ALERT-Internal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Technical_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAT ALERT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Technical_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lab issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmCaseDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>00G80000002vLPH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.BusinessHoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000000000000000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewDelayedSampleCase.Guardant_360_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSampleID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Case</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>frmCaseDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 3</expression>
    </formulas>
    <interviewLabel>Create DelayedSampleCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create DelayedSampleCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Save_Case</name>
        <label>Save Case</label>
        <locationX>350</locationX>
        <locationY>174</locationY>
        <inputReference>varNewDelayedSampleCase</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Delayed_Sample_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varAccessionNum</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewDelayedSampleCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Lookup to Sample ID</description>
        <name>varSampleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
