flows/Create_Initial_Batch.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <description>one</description>
        <name>One</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Batch_Name_already_exists</name>
        <label>Batch Name already exists</label>
        <locationX>461</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>Create_New_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Batch_Name_already_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BatchID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Batches.Batch_Label__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SOW_Next_Batch_then_create_new_batch</targetReference>
            </connector>
            <label>Batch Name already exists</label>
        </rules>
    </decisions>
    <description>This creates the initial batch when an SOW record is created</description>
    <formulas>
        <description>Account Code + SOW Name</description>
        <name>AccountCode_Name</name>
        <dataType>String</dataType>
        <expression>{!varSOW.Account_Code__c}+&quot;_&quot;+{!varSOW.SOW_Number__c}</expression>
    </formulas>
    <formulas>
        <description>Adds one</description>
        <name>AddOne</name>
        <dataType>Number</dataType>
        <expression>{!varNextBatch}+{!One}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Creates Batch ID via formula</description>
        <name>BatchID</name>
        <dataType>String</dataType>
        <expression>{!varAccountCode}+{!Underscore}+{!varSOWNumber}+{!Underscore}+{!varProductName}+{!Underscore}+&quot;01&quot;</expression>
    </formulas>
    <formulas>
        <description>Batch ID formula that uses the &apos;Next Batch&apos; value from the SOW instead of default &apos;01&apos;</description>
        <name>BatchIDWithNextBatch</name>
        <dataType>String</dataType>
        <expression>{!varAccountCode}+{!Underscore}+{!varSOWNumber}+{!Underscore}+{!varProductName}+{!Underscore}+{!TextNextBatch}</expression>
    </formulas>
    <interviewLabel>Create Initial Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Initial Batch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new batch record</description>
        <name>Create_New_Batch</name>
        <label>Create New Batch</label>
        <locationX>651</locationX>
        <locationY>68</locationY>
        <assignRecordIdToReference>varBatchID.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Next_Batch</targetReference>
        </connector>
        <inputAssignments>
            <field>Batch_Label__c</field>
            <value>
                <elementReference>BatchID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Batch_Number__c</field>
            <value>
                <elementReference>varSOW.Next_Batch__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOW__c</field>
            <value>
                <elementReference>varSOW.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Batch__c</object>
    </recordCreates>
    <recordLookups>
        <description>Get batches to prevent duplicate batch labels</description>
        <name>Get_Batches</name>
        <label>Get Batches</label>
        <locationX>319</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Batch_Name_already_exists</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Batch__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Batch_Label__c</queriedFields>
        <sortField>Batch_Label__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets values from the SOW</description>
        <name>Get_SOW_values</name>
        <label>Get SOW values</label>
        <locationX>180</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Batches</targetReference>
        </connector>
        <filters>
            <field>Account_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOWID</elementReference>
            </value>
        </filters>
        <object>SOW__c</object>
        <outputReference>varSOW</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Account_Code__c</queriedFields>
        <queriedFields>SOW_Number__c</queriedFields>
        <queriedFields>Next_Batch__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Increments by 1</description>
        <name>Update_Next_Batch</name>
        <label>Update SOW:Next Batch</label>
        <locationX>884</locationX>
        <locationY>63</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOW.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Batch__c</field>
            <value>
                <elementReference>AddOne</elementReference>
            </value>
        </inputAssignments>
        <object>SOW__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SOW_Next_Batch_then_create_new_batch</name>
        <label>Update SOW: Next Batch then create new batch</label>
        <locationX>426</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Get_SOW_values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSOW.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Batch__c</field>
            <value>
                <elementReference>AddOne</elementReference>
            </value>
        </inputAssignments>
        <object>SOW__c</object>
    </recordUpdates>
    <start>
        <locationX>58</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Get_SOW_values</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>TextNextBatch</name>
        <text>{!varSOW.Next_Batch_Text__c}</text>
    </textTemplates>
    <textTemplates>
        <description>Separation</description>
        <name>Underscore</name>
        <text>_</text>
    </textTemplates>
    <variables>
        <description>Account Code</description>
        <name>varAccountCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varSOW.Account_Code__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>This is the new Batch</description>
        <name>varBatchID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Batch__c</objectType>
    </variables>
    <variables>
        <description>Increments up by 1</description>
        <name>varNextBatch</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>varSOW.Next_Batch__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varProductName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varSOW.Product_Name__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Field values stored in one record variable</description>
        <name>varSOW</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SOW__c</objectType>
    </variables>
    <variables>
        <description>Gets the ID of the SOW where this flow is started</description>
        <name>varSOWID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSOWNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varSOW.SOW_Number__c</elementReference>
        </value>
    </variables>
</Flow>
