flows/Create_Financial_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Check_if_Cases_Exist</name>
        <label>Check if Cases Exist</label>
        <locationX>394</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Cases - Go Ahead</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is_a_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes there is a Case</label>
        </rules>
    </decisions>
    <description>Update to v4 Adding:
Primary Ins Co Name__c
Primary Ins Price__c
Patient Benefits Authorization__c</description>
    <interviewLabel>Create Financial Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Financial Case</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>478</locationX>
        <locationY>210</locationY>
        <inputAssignments>
            <field>Accession_No__c</field>
            <value>
                <elementReference>varCurrentPatient.LIMS_Accession_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>varCurrentPatient.Physician_Account_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Type__c</field>
            <value>
                <elementReference>varCurrentPatient.Billing_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>000000000000000</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service_blood_collection__c</field>
            <value>
                <elementReference>varCurrentPatient.Date_of_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group__c</field>
            <value>
                <elementReference>varCurrentPatient.Primary_Group_Plan_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G34000003U6Uh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PatientCase__c</field>
            <value>
                <elementReference>varCurrentPatient.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Benefits_Authorization__c</field>
            <value>
                <elementReference>varCurrentPatient.Patient_Benefits_Authorization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payor_Price__c</field>
            <value>
                <elementReference>varCurrentPatient.Primary_Ins_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payor__c</field>
            <value>
                <elementReference>varCurrentPatient.Primary_Ins_Co_Name_Text__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>varCurrentPatient.Home_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physician__c</field>
            <value>
                <elementReference>varCurrentPatient.Related_Physician__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>varCurrentPatient.Primary_Identification_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pt_DOB__c</field>
            <value>
                <elementReference>varCurrentPatient.DOB__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pt_Name__c</field>
            <value>
                <elementReference>varCurrentPatient.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01234000000GGbiAAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>varCurrentPatient.State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&quot;--FINANCIAL&quot;</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Cases</name>
        <label>Lookup Cases</label>
        <locationX>228</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Cases_Exist</targetReference>
        </connector>
        <filters>
            <field>Accession_No__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentPatient.LIMS_Accession_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PatientCase__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentPatient.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01234000000GGbi</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCaseList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Patient</name>
        <label>Lookup Patient</label>
        <locationX>57</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Cases</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPatientId</elementReference>
            </value>
        </filters>
        <object>Patient__c</object>
        <outputReference>varCurrentPatient</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LIMS_Accession_Number__c</queriedFields>
        <queriedFields>Billing_Type__c</queriedFields>
        <queriedFields>Date_of_Service__c</queriedFields>
        <queriedFields>Primary_Group_Plan_Number__c</queriedFields>
        <queriedFields>Company_Name__c</queriedFields>
        <queriedFields>Home_Phone__c</queriedFields>
        <queriedFields>Related_Physician__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>Full_Name__c</queriedFields>
        <queriedFields>DOB__c</queriedFields>
        <queriedFields>Primary_Identification_Number__c</queriedFields>
        <queriedFields>Physician_Account_Name__c</queriedFields>
        <queriedFields>Primary_Ins_Co_Name_Text__c</queriedFields>
        <queriedFields>Primary_Ins_Price__c</queriedFields>
        <queriedFields>Patient_Benefits_Authorization__c</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Patient</startElementReference>
    <status>Active</status>
    <variables>
        <name>varCaseList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varCurrentPatient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Patient__c</objectType>
    </variables>
    <variables>
        <name>varPatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
