flows/Get_Previous_Date_Received.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_Last_Date</name>
        <label>Set Last Date</label>
        <locationX>645</locationX>
        <locationY>78</locationY>
        <assignmentItems>
            <assignToReference>objThisSample.Previous_Date_Received_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objPreviousSample.Date_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>This_Sample_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Previous_Sample</name>
        <label>Has Previous Sample</label>
        <locationX>432</locationX>
        <locationY>78</locationY>
        <defaultConnectorLabel>No - No Previous Sample</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Previous_Sample</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objPreviousSample</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Date</targetReference>
            </connector>
            <label>Yes - Has Previous Sample</label>
        </rules>
    </decisions>
    <label>Get Previous Date Received</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Previous_Sample_Info</name>
        <label>Previous Sample Info</label>
        <locationX>275</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Previous_Sample</targetReference>
        </connector>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objThisSample.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Received__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>objThisSample.Date_Received__c</elementReference>
            </value>
        </filters>
        <object>Guardant_360_Sample__c</object>
        <outputReference>objPreviousSample</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_Received__c</queriedFields>
        <sortField>Date_Received__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>This_Sample_Info</name>
        <label>This Sample Info</label>
        <locationX>95</locationX>
        <locationY>74</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Sample_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtSampleRecordID</elementReference>
            </value>
        </filters>
        <object>Guardant_360_Sample__c</object>
        <outputReference>objThisSample</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Date_Received__c</queriedFields>
        <queriedFields>Previous_Date_Received_Contact__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>This_Sample_Date</name>
        <label>This Sample Date</label>
        <locationX>873</locationX>
        <locationY>80</locationY>
        <inputReference>objThisSample</inputReference>
    </recordUpdates>
    <startElementReference>This_Sample_Info</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>objPreviousSample</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guardant_360_Sample__c</objectType>
    </variables>
    <variables>
        <name>objThisSample</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guardant_360_Sample__c</objectType>
    </variables>
    <variables>
        <name>txtSampleRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a0D8000000lZdww</stringValue>
        </value>
    </variables>
</Flow>
