flows/ISR_Main_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <decisions>
        <description>Determines which flow based on ISR stage</description>
        <name>What_is_ISR_Stage</name>
        <label>Which ISR Stage?</label>
        <locationX>383</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Log_an_ISR_Call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prospecting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.ISR_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ISR_Call_1</targetReference>
            </connector>
            <label>Prospecting</label>
        </rules>
        <rules>
            <name>Info_Gathering</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Record.ISR_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stage 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ISR_Info_Gathering_Call</targetReference>
            </connector>
            <label>Info Gathering</label>
        </rules>
    </decisions>
    <description>Calls subflow based on ISR Stage. Includes Call Result field</description>
    <dynamicChoiceSets>
        <description>ISR Call Result</description>
        <name>Call_Result</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Result__c</picklistField>
        <picklistObject>ISR_Target__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>vCurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>ISR Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ISR Main Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Logs a completed ISR Call</description>
        <name>Log_an_ISR_Call</name>
        <label>Log an ISR Call</label>
        <locationX>394</locationX>
        <locationY>320</locationY>
        <assignRecordIdToReference>varNewTask.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Log_a_Call</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>221</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_ISR_Stage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Date_of_last_ISR_Call</name>
        <label>Update Date of last ISR Call</label>
        <locationX>547</locationX>
        <locationY>608</locationY>
        <connector>
            <targetReference>Update_Notes_field_on_ISR_Target</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Last_ISR_Call__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Note Entry field on ISR Target, which fires workflow &quot;Update Call Notes&quot;</description>
        <name>Update_Notes_field_on_ISR_Target</name>
        <label>Update Notes field on ISR Target</label>
        <locationX>717</locationX>
        <locationY>606</locationY>
        <filters>
            <field>ISR_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Note_Entry__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <object>ISR_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Target_Call</name>
        <label>Update Target Call</label>
        <locationX>394</locationX>
        <locationY>609</locationY>
        <connector>
            <targetReference>Update_Date_of_last_ISR_Call</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_result_of_the_call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>Log_a_Call</name>
        <label>Log a Call</label>
        <locationX>394</locationX>
        <locationY>470</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Target_Call</targetReference>
        </connector>
        <fields>
            <name>What_was_the_result_of_the_call</name>
            <choiceReferences>Call_Result</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What was the result of the call?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Target Call</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ISR_Call_1</name>
        <label>ISR Call 1</label>
        <locationX>581</locationX>
        <locationY>57</locationY>
        <flowName>ISR_Call_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ISR_Info_Gathering_Call</name>
        <label>ISR Info Gathering Call</label>
        <locationX>589</locationX>
        <locationY>213</locationY>
        <flowName>ISR_Info_Gathering_Call</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record ID of newly created task</description>
        <name>varNewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
