flows/ISR_Call_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <description>What was the Result of the call?</description>
        <name>Call_Result_Choice</name>
        <choiceText>No Answer</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CallResult</elementReference>
        </value>
    </choices>
    <choices>
        <description>No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>Yes</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Which picklist value was chosen?</description>
        <name>What_was_the_Outcome_of_the_call</name>
        <label>What was the Outcome of the call?</label>
        <locationX>969</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Left_Voicemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Result_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left Voicemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Left Voicemail</label>
        </rules>
        <rules>
            <name>No_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Result_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Answer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_0</targetReference>
            </connector>
            <label>No Answer</label>
        </rules>
        <rules>
            <name>No_meeting_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Result_Choice</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Spoke to</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Were_you_able_to_schedule_a_meeting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Target_Call</targetReference>
            </connector>
            <label>No meeting scheduled</label>
        </rules>
        <rules>
            <name>Meeting_Successfully_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Result_Choice</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Spoke to</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Were_you_able_to_schedule_a_meeting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Meeting_call</targetReference>
            </connector>
            <label>Meeting Successfully Scheduled</label>
        </rules>
    </decisions>
    <description>For ISR Contacts in &quot;Prospecting&quot; stage</description>
    <dynamicChoiceSets>
        <description>Call Result</description>
        <name>CallResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Result__c</picklistField>
        <picklistObject>ISR_Target__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Current User</description>
        <name>CurrentUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <description>Follow Up Date and Time</description>
        <name>Follow_Up_Today</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <description>Today</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>ISR Call 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ISR Call 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Schedules a task to set up another attempt to schedule a meeting</description>
        <name>Create_Follow_up_Meeting</name>
        <label>Create Follow-up Meeting Task</label>
        <locationX>1331</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Update_Call_Notes</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Follow_Up_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>ISR Follow Up - Schedule meeting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a task when a meeting has been scheduled</description>
        <name>Create_Meeting_Scheduled_Task</name>
        <label>Create Meeting Scheduled Task</label>
        <locationX>783</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Update_Call_Notes_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>When_is_this_meeting_scheduled_for</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Meeting Scheduled with Target Office</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Completed Task</description>
        <name>Create_Task</name>
        <label>Record Call-Left VM</label>
        <locationX>1282</locationX>
        <locationY>147</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Left Voicemail</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_Result_of_the_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Target Call: Left VM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_info.ISR_Page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Completed Task</description>
        <name>Create_Task_0</name>
        <label>Record Call-No Answer</label>
        <locationX>1229</locationX>
        <locationY>26</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>No Answer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_Result_of_the_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Target Call: No Answer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_info.ISR_Page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Record a call where a meeting was scheduled</description>
        <name>Record_Meeting_call</name>
        <label>Record Meeting call</label>
        <locationX>800</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Change_Path_setting</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_Result_of_the_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Target Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Records a call where GH rep spoke to admin, nurse, or MD</description>
        <name>Record_Target_Call</name>
        <label>Record Target Call</label>
        <locationX>1142</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Update_ISR_Contact_Date</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_Result_of_the_Call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Spoke with office, no meeting scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_info.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_info</name>
        <label>Get Contact info</label>
        <locationX>394</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>InitialCall</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Path_setting</name>
        <label>Change Path setting &amp; set ISR Contact Date</label>
        <locationX>784</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>Create_Meeting_Scheduled_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Last_ISR_Call__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Stage__c</field>
            <value>
                <stringValue>Stage 2</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Call Notes field on ISR Target</description>
        <name>Update_Call_Notes</name>
        <label>Update Call Notes</label>
        <locationX>1482</locationX>
        <locationY>420</locationY>
        <filters>
            <field>ISR_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Note_Entry__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>ISR_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Call Notes field on ISR Target</description>
        <name>Update_Call_Notes_0</name>
        <label>Update Call Notes</label>
        <locationX>952</locationX>
        <locationY>549</locationY>
        <filters>
            <field>ISR_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Note_Entry__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <object>ISR_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ISR_Contact_Date</name>
        <label>Update ISR Contact Date</label>
        <locationX>1142</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>Create_Follow_up_Meeting</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Last_ISR_Call__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <description>Initial Call</description>
        <name>InitialCall</name>
        <label>Target Call</label>
        <locationX>603</locationX>
        <locationY>69</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_was_the_Outcome_of_the_call</targetReference>
        </connector>
        <fields>
            <name>TargetMD_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Target MD: &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Get_Contact_info.Full_Name__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Contact_info.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Contact_info.MailingCity}, {!Get_Contact_info.MailingState}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Phone: {!Get_Contact_info.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_was_the_Result_of_the_Call</name>
            <choiceReferences>CallResult</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What was the Result of the Call?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Call_Notes</name>
            <fieldText>Call Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_was_the_Result_of_the_Call</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Spoke to</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Were_you_able_to_schedule_a_meeting</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Were you able to schedule a meeting?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>What_was_the_Result_of_the_Call</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Spoke to</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Who_did_you_schedule_this_meeting_with</name>
            <dataType>String</dataType>
            <fieldText>If you were able to schedule a meeting, who did you schedule this meeting with?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_was_the_Result_of_the_Call</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Spoke to</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Were_you_able_to_schedule_a_meeting</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>When_is_this_meeting_scheduled_for</name>
            <dataType>DateTime</dataType>
            <fieldText>When is this meeting scheduled for?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_was_the_Result_of_the_Call</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Spoke to</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Were_you_able_to_schedule_a_meeting</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Time_Zone_msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 23, 6);&quot;&gt;The time displayed above is for your local time zone. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please be aware of time zone differences when you are scheduling your meeting. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>What_was_the_Result_of_the_Call</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Spoke to</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Were_you_able_to_schedule_a_meeting</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>54</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Get_Contact_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Displays relevant info for sales rep</description>
        <name>MDInfo</name>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;{!Get_Contact_info.Full_Name__c}  &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Get_Contact_info.Account.Name}&lt;/p&gt;&lt;p&gt;{!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Get_Contact_info&lt;/span&gt;.MailingCity}, {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Get_Contact_info&lt;/span&gt;.MailingState}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Phone: {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Get_Contact_info&lt;/span&gt;.Phone}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
