flows/ISR_Info_Gathering_Call.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <description>No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Yes</description>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Did_ISR_speak_to_someone</name>
        <label>Did ISR speak to someone?</label>
        <locationX>637</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Save_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ISR_spoke_to_a_human</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Result</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Spoke To</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ISR_Stage_and_Last_Call_Date</targetReference>
            </connector>
            <label>Yes, ISR spoke to a human</label>
        </rules>
        <rules>
            <name>Left_Voicemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left Voicemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Task_0_0</targetReference>
            </connector>
            <label>Left Voicemail</label>
        </rules>
    </decisions>
    <description>Used by ISR project. Includes Call Result field. Includes &quot;No Answer&quot; and &quot;Left VM&quot;.</description>
    <dynamicChoiceSets>
        <description>Call result</description>
        <name>Call_Result</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_Result__c</picklistField>
        <picklistObject>ISR_Target__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Attaches call notes with time of call</description>
        <name>CallNote</name>
        <dataType>String</dataType>
        <expression>{!$User.Alias}+&quot;, &quot;+ Text({!$Flow.CurrentDateTime}) +&quot;: &quot;+{!Additional_Call_Notes}</expression>
    </formulas>
    <interviewLabel>ISR Info Gathering Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ISR Info Gathering Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Save_Task</name>
        <label>Save Task</label>
        <locationX>1262</locationX>
        <locationY>81</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_result_of_the_call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Target Call: Gathered Information</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_info.ISR_Page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Save_Task_0</name>
        <label>Save Task--No Answer</label>
        <locationX>936</locationX>
        <locationY>341</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_result_of_the_call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Target Call: No Answer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_info.ISR_Page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Save_Task_0_0</name>
        <label>Save Task--Left VM</label>
        <locationX>1096</locationX>
        <locationY>259</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Additional_Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ISR_Call_Result__c</field>
            <value>
                <elementReference>What_was_the_result_of_the_call</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120y000000GXLMAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Target Call: Left VM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_info.ISR_Page__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Contact record</description>
        <name>Get_Contact_info</name>
        <label>Get Contact info</label>
        <locationX>207</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ISR_Page</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets associated ISR Page of Contact</description>
        <name>Get_ISR_Page</name>
        <label>Get Contact&apos;s ISR Target Page</label>
        <locationX>333</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_information</targetReference>
        </connector>
        <filters>
            <field>ISR_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ISR_Target__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates related ISR page</description>
        <name>Update_ISR_Page</name>
        <label>Update ISR Page</label>
        <locationX>1061</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>Save_Task</targetReference>
        </connector>
        <filters>
            <field>ISR_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_info.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Administrator_s_Contact_info__c</field>
            <value>
                <elementReference>Administrator_s_contact_Info2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Best_way_to_contact_decision_maker__c</field>
            <value>
                <elementReference>What_is_the_best_way_to_contact_the_decision_maker</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currently_using_liquid_biopsy_testing__c</field>
            <value>
                <elementReference>Are_you_currently_using_Liquid_Biopsy_Testing2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_office_know_liquid_biopsy_benefits__c</field>
            <value>
                <elementReference>benefits_of_having_liquid_biopsy_testing_as_part_of_your_diagnos2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Facilitator_of_Specialty_Tests__c</field>
            <value>
                <elementReference>who_is_the_facilitator_of_specialty_tests2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Director__c</field>
            <value>
                <elementReference>Does_one_of_the_Providers_act_as_the_Lab_Director</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NGS_Laboratory__c</field>
            <value>
                <elementReference>What_laboratory_do_you_use_for_NGS_If_it_s_the_hospital_who_do_you_send_it_to_f2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NGS_on_tissue__c</field>
            <value>
                <elementReference>Do_you_use_NGS_on_tissue_as_part_of_standard_testing_before_treatmen2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note_Entry__c</field>
            <value>
                <elementReference>Additional_Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precision_Medicine_navigator__c</field>
            <value>
                <elementReference>Do_you_have_a_Precision_Medicine_Navigator2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Which_doctor_is_the_decision_maker__c</field>
            <value>
                <elementReference>Which_Doctor_is_the_decision_maker_within_the_practice</elementReference>
            </value>
        </inputAssignments>
        <object>ISR_Target__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates ISR Stage</description>
        <name>Update_ISR_Stage_and_Last_Call_Date</name>
        <label>Update ISR Stage</label>
        <locationX>927</locationX>
        <locationY>71</locationY>
        <connector>
            <targetReference>Update_ISR_Page</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_of_Last_ISR_Call__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Get_information</name>
        <label>Decision Maker</label>
        <locationX>489</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Did_ISR_speak_to_someone</targetReference>
        </connector>
        <fields>
            <name>What_was_the_result_of_the_call</name>
            <choiceReferences>Call_Result</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What was the result of the call?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Doctor_is_the_decision_maker_within_the_practice</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.Which_doctor_is_the_decision_maker__c</elementReference>
            </defaultValue>
            <fieldText>Which Doctor is the decision maker within the practice?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Does_one_of_the_Providers_act_as_the_Lab_Director</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.Lab_Director__c</elementReference>
            </defaultValue>
            <fieldText>Does one of the Providers act as the Lab Director?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_is_the_best_way_to_contact_the_decision_maker</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.Best_way_to_contact_decision_maker__c</elementReference>
            </defaultValue>
            <fieldText>What is the best way to contact the decision maker?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_have_a_Precision_Medicine_Navigator2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.Precision_Medicine_navigator__c</elementReference>
            </defaultValue>
            <fieldText>Do you have a Precision Medicine Navigator?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>who_is_the_facilitator_of_specialty_tests2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.Facilitator_of_Specialty_Tests__c</elementReference>
            </defaultValue>
            <fieldText>If not, who is the facilitator of specialty tests?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Administrator_s_contact_Info2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.Administrator_s_Contact_info__c</elementReference>
            </defaultValue>
            <fieldText>Administrator&apos;s contact Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Are_you_currently_using_Liquid_Biopsy_Testing2</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you currently using Liquid Biopsy Testing?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>benefits_of_having_liquid_biopsy_testing_as_part_of_your_diagnos2</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you know the benefits of having liquid biopsy testing as part of your diagnostic protocol?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Are_you_currently_using_Liquid_Biopsy_Testing2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_use_NGS_on_tissue_as_part_of_standard_testing_before_treatmen2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.NGS_on_tissue__c</elementReference>
            </defaultValue>
            <fieldText>Do you use NGS on tissue as part of standard testing before treatment?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_laboratory_do_you_use_for_NGS_If_it_s_the_hospital_who_do_you_send_it_to_f2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Contact_info.ISR_Page__r.NGS_Laboratory__c</elementReference>
            </defaultValue>
            <fieldText>What laboratory do you use for NGS? If it&apos;s the hospital, who do you send it to for testing?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Call_Notes</name>
            <fieldText>Additional Notes on this Call</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
