flows/Match_Count_for_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contact_to_List</name>
        <label>Add Contact to List</label>
        <locationX>367</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>ContactstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_to_List_0</name>
        <label>Add Contact to List</label>
        <locationX>564</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>ContactstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Open_Match_Counter</name>
        <label>Add to Open Match Counter</label>
        <locationX>727</locationX>
        <locationY>259</locationY>
        <assignmentItems>
            <assignToReference>MatchContact.Count_of_Open_Matches__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Match_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Total_Match_Counter</name>
        <label>Add to Total Match Counter</label>
        <locationX>579</locationX>
        <locationY>29</locationY>
        <assignmentItems>
            <assignToReference>MatchContact.Count_of_Matches_Identified__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Matches_Identified</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Matches_Identified</name>
        <label>Check Matches Identified</label>
        <locationX>729</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>MatchContact.Matches_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchContact.Fire_Match_Count_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Match_Open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Current_Counts</name>
        <label>Clear Current Counts</label>
        <locationX>221</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>MatchContact.Count_of_Matches_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchContact.Count_of_Open_Matches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Match_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Matches_to_0</name>
        <label>Count Matches to 0</label>
        <locationX>188</locationX>
        <locationY>331</locationY>
        <assignmentItems>
            <assignToReference>MatchContact.Count_of_Matches_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchContact.Count_of_Open_Matches__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchContact.Matches_Identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MatchContact.Fire_Match_Count_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Matches_Exist</name>
        <label>Do Matches Exist?</label>
        <locationX>51</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Count_Matches_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matches_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchRecordList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Current_Counts</targetReference>
            </connector>
            <label>Matches Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Match_Open</name>
        <label>Is Match Open?</label>
        <locationX>730</locationX>
        <locationY>138</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Match_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchRecord.Enrollment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MatchRecord.Enrollment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Enrolled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Open_Match_Counter</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <interviewLabel>Match Count for Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Match Count for Contact</label>
    <loops>
        <name>Loop_through_Match_Records</name>
        <label>Loop through Match Records</label>
        <locationX>358</locationX>
        <locationY>140</locationY>
        <assignNextValueToReference>MatchRecord</assignNextValueToReference>
        <collectionReference>MatchRecordList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Total_Match_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Contact_to_List_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_Matches_on_the_Contact</name>
        <label>Lookup all Matches on the Contact</label>
        <locationX>48</locationX>
        <locationY>35</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Matches_Exist</targetReference>
        </connector>
        <filters>
            <field>Ordering_Physician_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MatchContact.Id</elementReference>
            </value>
        </filters>
        <object>Match_Record__c</object>
        <outputReference>MatchRecordList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Enrollment_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_List</name>
        <label>Update Contact List</label>
        <locationX>564</locationX>
        <locationY>528</locationY>
        <inputReference>ContactstoUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_all_Matches_on_the_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CountofMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountofOpenMatches</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MatchContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>MatchesIdentified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MatchRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Match_Record__c</objectType>
    </variables>
    <variables>
        <name>MatchRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Match_Record__c</objectType>
    </variables>
</Flow>
