flows/MedPro_Update_NPI_to_Contact.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Contact_to_update_list</name>
        <label>Add Contact to update list</label>
        <locationX>621</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>myContacts2UpdateNow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>myContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Contact_Actual_NPI</name>
        <label>Update Contact Actual NPI</label>
        <locationX>921</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>myContact.MedPro_State_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mySLNid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_My_Contact</name>
        <label>Update My Contact</label>
        <locationX>749</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>myContact.Actual_NPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myNPI_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_to_update_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_NPI_records_the_same</name>
        <label>Are NPI records the same</label>
        <locationX>882</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Update_My_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Same_NPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myContact.Actual_NPI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>myNPI_Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Contacts</targetReference>
            </connector>
            <label>Same NPI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_ID_and_SLN_ID</name>
        <label>Check Contact ID and SLN ID</label>
        <locationX>15</locationX>
        <locationY>24</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SLNID_exists_Contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mySLNid</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_my_contact</targetReference>
            </connector>
            <label>SLNID exists, Contact exists</label>
        </rules>
        <rules>
            <name>SLNID_exists_Contact_does_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mySLNid</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_my_Contacts</targetReference>
            </connector>
            <label>SLNID exists, Contact does not</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists</label>
        <locationX>921</locationX>
        <locationY>470</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_does_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Actual_NPI</targetReference>
            </connector>
            <label>Contact does exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_Found</name>
        <label>Contacts Found</label>
        <locationX>343</locationX>
        <locationY>125</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_I_have_a_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myContacts2Review</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_my_SLN_NPI_Id</targetReference>
            </connector>
            <label>Yes I have a contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contacts_to_Update_exists</name>
        <label>Contacts to Update exists</label>
        <locationX>946</locationX>
        <locationY>122</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_update_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myContacts2UpdateNow</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contacts_with_new_NPI</targetReference>
            </connector>
            <label>Yes, update contacts</label>
        </rules>
    </decisions>
    <description>Update an existing contact with a new or updated NPI and related state license.</description>
    <interviewLabel>MedPro - Update NPI to Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MedPro - Update NPI to Contact</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>739</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>myContact</assignNextValueToReference>
        <collectionReference>myContacts2Review</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Are_NPI_records_the_same</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contacts_to_Update_exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_my_contact</name>
        <label>Get my contact</label>
        <locationX>775</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>myContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MedPro_State_License__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_my_Contacts</name>
        <label>Get my Contacts</label>
        <locationX>343</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contacts_Found</targetReference>
        </connector>
        <filters>
            <field>MedPro_State_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mySLNid</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>myContacts2Review</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MedPro_State_License__c</queriedFields>
        <queriedFields>Actual_NPI__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_my_SLN_NPI_Id</name>
        <label>Get my SLN NPI Id</label>
        <locationX>600</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mySLNid</elementReference>
            </value>
        </filters>
        <object>MedPro_State_Licenses__c</object>
        <outputAssignments>
            <assignToReference>myNPI_Id</assignToReference>
            <field>NPI_Record__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1088</locationX>
        <locationY>575</locationY>
        <inputReference>myContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_contacts_with_new_NPI</name>
        <label>Update contacts with new NPI</label>
        <locationX>1091</locationX>
        <locationY>397</locationY>
        <inputReference>myContacts2UpdateNow</inputReference>
    </recordUpdates>
    <startElementReference>Check_Contact_ID_and_SLN_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myContacts2Review</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myContacts2UpdateNow</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>myNPI_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mySLNid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
