flows/MedPro_Create_a_Contact_from_an_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_New_Contact</name>
        <label>Assign New Contact</label>
        <locationX>184</locationX>
        <locationY>131</locationY>
        <assignmentItems>
            <assignToReference>myNewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.MedPro_State_License__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SLN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myNewContact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myAccount.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_exists</name>
        <label>Account exists</label>
        <locationX>183</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Account_does_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Contact</targetReference>
            </connector>
            <label>Account does exist</label>
        </rules>
    </decisions>
    <description>Allow a contact to be created after a new NPI/State License is added from MedPro</description>
    <interviewLabel>MedPro Create a Contact from an Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MedPro Create a Contact from an Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_contact</name>
        <label>Create a contact</label>
        <locationX>374</locationX>
        <locationY>132</locationY>
        <inputReference>myNewContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>35</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_exists</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>myAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <startElementReference>Get_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myNewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NPI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SLN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
