flows/Notify_AE_when_Med_Affairs_Task_is_completed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Task_Email_to_AE_when_Med_Affairs_task_created_for_their_account_is_completed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email to AE Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Task.Task_Email_to_AE_when_Med_Affairs_task_created_for_their_account_is_completed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>AE Email field is not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Sends an email to AE when a task for their account is completed by Med Affairs</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
ISPICKVAL([Task].Status, &apos;Completed&apos;),
[Task].Medaffairs_task__c=TRUE,
NOT(ISBLANK([Task].AE_Email__c)) , 
OR(
[Task].RecordType.DeveloperName =&quot;Med_Affairs&quot; ,
[Task].RecordType.DeveloperName  = &quot;Client_Interaction&quot;,  
[Task].RecordType.DeveloperName  = &quot;Concierge_Follow_Up&quot;,
[Task].RecordType.DeveloperName  = &quot;MSI_Follow_Up&quot;
) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND (
ISPICKVAL({!myVariable_current.Status}, &apos;Completed&apos;),
{!myVariable_current.Medaffairs_task__c}=TRUE,
NOT(ISBLANK({!myVariable_current.AE_Email__c})) , 
OR(
{!myVariable_current.RecordType.DeveloperName} =&quot;Med_Affairs&quot; ,
{!myVariable_current.RecordType.DeveloperName}  = &quot;Client_Interaction&quot;,  
{!myVariable_current.RecordType.DeveloperName}  = &quot;Concierge_Follow_Up&quot;,
{!myVariable_current.RecordType.DeveloperName}  = &quot;MSI_Follow_Up&quot;
) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND (
ISPICKVAL([Task].Status, &apos;Completed&apos;),
[Task].Medaffairs_task__c=TRUE,
NOT(ISBLANK([Task].AE_Email__c)) , 
OR(
[Task].RecordType.DeveloperName =&quot;Med_Affairs&quot; ,
[Task].RecordType.DeveloperName  = &quot;Client_Interaction&quot;,  
[Task].RecordType.DeveloperName  = &quot;Concierge_Follow_Up&quot;,
[Task].RecordType.DeveloperName  = &quot;MSI_Follow_Up&quot;
) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND (
ISPICKVAL({!myVariable_old.Status}, &apos;Completed&apos;),
{!myVariable_old.Medaffairs_task__c}=TRUE,
NOT(ISBLANK({!myVariable_old.AE_Email__c})) , 
OR(
{!myVariable_old.RecordType.DeveloperName} =&quot;Med_Affairs&quot; ,
{!myVariable_old.RecordType.DeveloperName}  = &quot;Client_Interaction&quot;,  
{!myVariable_old.RecordType.DeveloperName}  = &quot;Concierge_Follow_Up&quot;,
{!myVariable_old.RecordType.DeveloperName}  = &quot;MSI_Follow_Up&quot;
) )</expression>
    </formulas>
    <interviewLabel>Notify_AE_when_Med_Affairs_Task_is_completed-15_InterviewLabel</interviewLabel>
    <label>Notify AE when Med Affairs Task is completed</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
