flows/Pending_GH_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>New Symphogen Matches</label>
        </rules>
    </decisions>
    <description>Puts a hold on match records for Symphogen-015 trials for the Biopharma team to review</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Match_Record__c].Trial_Code__c = &quot;SYM015&quot;,
ISBLANK(TEXT([Match_Record__c].Enrollment_Sub_Status__c)),
NOT(ISPICKVAL(PRIORVALUE
([Match_Record__c].Enrollment_Sub_Status__c), &quot;Pending GH Review&quot;)), 
TEXT([Match_Record__c].Enrollment_Status__c)=&quot;New&quot;,  
 AND(
NOT(CONTAINS([Match_Record__c].Qualifying_Target_Alterations__c, &quot;Amplification&quot;)),
NOT(CONTAINS([Match_Record__c].Qualifying_Target_Alterations__c, &quot;amplification&quot;)),
NOT(CONTAINS([Match_Record__c].Qualifying_Target_Alterations__c, &quot;Skipping&quot;)),
NOT(CONTAINS([Match_Record__c].Qualifying_Target_Alterations__c, &quot;skipping&quot;))))

 </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Trial_Code__c} = &quot;SYM015&quot;,
ISBLANK(TEXT({!myVariable_current.Enrollment_Sub_Status__c})),
NOT(ISPICKVAL(PRIORVALUE
({!myVariable_current.Enrollment_Sub_Status__c}), &quot;Pending GH Review&quot;)), 
TEXT({!myVariable_current.Enrollment_Status__c})=&quot;New&quot;,  
 AND(
NOT(CONTAINS({!myVariable_current.Qualifying_Target_Alterations__c}, &quot;Amplification&quot;)),
NOT(CONTAINS({!myVariable_current.Qualifying_Target_Alterations__c}, &quot;amplification&quot;)),
NOT(CONTAINS({!myVariable_current.Qualifying_Target_Alterations__c}, &quot;Skipping&quot;)),
NOT(CONTAINS({!myVariable_current.Qualifying_Target_Alterations__c}, &quot;skipping&quot;))))</expression>
    </formulas>
    <interviewLabel>Pending_GH_Review-3_InterviewLabel</interviewLabel>
    <label>Pending GH Review</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Match_Record__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Match_Record__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Referral Substatus</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Referral Sub-Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Enrollment_Sub_Status__c</field>
            <value>
                <stringValue>Pending GH Review</stringValue>
            </value>
        </inputAssignments>
        <object>Match_Record__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Match_Record__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Match_Record__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
