flows/Sample_Update_MSL_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>isChangedDecision2_myRule_1_Acct_MSL_c</name>
        <label>isChangedDecision2_myRule_1_Acct_MSL_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_Acct_MSL_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.Acct_MSL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.Acct_MSL__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_Acct_MSL_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_Acct_MSL_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update MSL Email</label>
        </rules>
    </decisions>
    <description>Updates MSL Email field based on &apos;Acct_MSL&apos; field. Must be updated with each new hire MSL</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Guardant_360_Sample__c].Acct_MSL__c , 
&quot;Amber Carter&quot;, &quot;acarter@guardanthealth.com&quot;,
&quot;Becky Nagy&quot;, &quot;bnagy@guardanthealth.com&quot;,
&quot;MedAffairs&quot;, &quot;dl-medaffairstasks@guardanthealth.com&quot;,
&quot;Angela Thompson&quot;, &quot;athompson@guardanthealth.com&quot;,
&quot;Kristin Price&quot;, &quot;kprice@guardanthealth.com&quot;,
&quot;Lesli Kiedrowski&quot;, &quot;lkiedrowski@guardanthealth.com	&quot;,
&quot;Thereasa Rich&quot;, &quot;trich@guardanthealth.com&quot;,
&quot;Victoria Raymond&quot;, &quot;vraymond@guardanthealth.com&quot;,
&quot;Christian Klosowski&quot;, &quot;CKlosowski@guardanthealth.com&quot;,
&quot;Kelsey Johnson&quot;, &quot;kjohnson@guardanthealth.com&quot;,
&quot;Krysten Shipley&quot;, &quot;kshipley@guardanthealth.com&quot;,
&quot;Sara Wienke&quot;, &quot;swienke@guardanthealth.com&quot;,
&quot;Kaylee Faulkner&quot;, &quot;kfaulkner@guardanthealth.com&quot;,
&quot;Caroline Weipert&quot;, &quot;cweipert@guardanthealth.com&quot;,
&quot;Megan McKenna&quot;, &quot;mmckenna@guardanthealth.com&quot;,
&quot;Brianna Volz&quot;, &quot;bvolz@guardanthealth.com&quot;,
&quot;Leylah Drusbosky&quot;, &quot;ldrusbosky@guardanthealth.com&quot;,
&quot;Julia Jones&quot;, &quot;jjones@guardanthealth.com&quot;, 
&quot;Nassim Taherian&quot;, &quot;ntaherian@guardanthealth.com&quot;,
&quot;Chuck Hensel&quot;, &quot;chensel@guardanthealth.com&quot;,
&quot;Jennifer Saam&quot;, &quot;jsaam@guardanthealth.com&quot;,
&quot; &quot;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_1991132830</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.Acct_MSL__c} , 
&quot;Amber Carter&quot;, &quot;acarter@guardanthealth.com&quot;,
&quot;Becky Nagy&quot;, &quot;bnagy@guardanthealth.com&quot;,
&quot;MedAffairs&quot;, &quot;dl-medaffairstasks@guardanthealth.com&quot;,
&quot;Angela Thompson&quot;, &quot;athompson@guardanthealth.com&quot;,
&quot;Kristin Price&quot;, &quot;kprice@guardanthealth.com&quot;,
&quot;Lesli Kiedrowski&quot;, &quot;lkiedrowski@guardanthealth.com	&quot;,
&quot;Thereasa Rich&quot;, &quot;trich@guardanthealth.com&quot;,
&quot;Victoria Raymond&quot;, &quot;vraymond@guardanthealth.com&quot;,
&quot;Christian Klosowski&quot;, &quot;CKlosowski@guardanthealth.com&quot;,
&quot;Kelsey Johnson&quot;, &quot;kjohnson@guardanthealth.com&quot;,
&quot;Krysten Shipley&quot;, &quot;kshipley@guardanthealth.com&quot;,
&quot;Sara Wienke&quot;, &quot;swienke@guardanthealth.com&quot;,
&quot;Kaylee Faulkner&quot;, &quot;kfaulkner@guardanthealth.com&quot;,
&quot;Caroline Weipert&quot;, &quot;cweipert@guardanthealth.com&quot;,
&quot;Megan McKenna&quot;, &quot;mmckenna@guardanthealth.com&quot;,
&quot;Brianna Volz&quot;, &quot;bvolz@guardanthealth.com&quot;,
&quot;Leylah Drusbosky&quot;, &quot;ldrusbosky@guardanthealth.com&quot;,
&quot;Julia Jones&quot;, &quot;jjones@guardanthealth.com&quot;, 
&quot;Nassim Taherian&quot;, &quot;ntaherian@guardanthealth.com&quot;,
&quot;Chuck Hensel&quot;, &quot;chensel@guardanthealth.com&quot;,
&quot;Jennifer Saam&quot;, &quot;jsaam@guardanthealth.com&quot;,
&quot; &quot;)</expression>
    </formulas>
    <interviewLabel>Sample_Update_MSL_Email-21_InterviewLabel</interviewLabel>
    <label>Sample:Update MSL Email</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Guardant_360_Sample__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Guardant_360_Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update MSL Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>MSL Email</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>MSL_Email__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_1991132830</elementReference>
            </value>
        </inputAssignments>
        <object>Guardant_360_Sample__c</object>
    </recordUpdates>
    <startElementReference>isChangedDecision2_myRule_1_Acct_MSL_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Guardant_360_Sample__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Guardant_360_Sample__c</objectType>
    </variables>
</Flow>
