flows/Test_SFDC_to_create_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>Case_Subject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Delayed Sample</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_For_Final_Report_Date</name>
        <label>Check For Final Report Date</label>
        <locationX>269</locationX>
        <locationY>212</locationY>
        <defaultConnectorLabel>Contains Date</defaultConnectorLabel>
        <rules>
            <name>No_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarReportDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Case</targetReference>
            </connector>
            <label>No Date</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+3</expression>
    </formulas>
    <interviewLabel>Create DelayedSampleCase 2(Test SFDC) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create DelayedSampleCase 2(Test SFDC)</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>262</locationX>
        <locationY>377</locationY>
        <inputAssignments>
            <field>Accession_No__c</field>
            <value>
                <elementReference>Accession_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_RecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>TAT ALERT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Contact_Record_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>CaseDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initiated__c</field>
            <value>
                <stringValue>TAT ALERT-Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00580000005rOkLAAU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01280000000HmU1AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Case_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Reason__c</field>
            <value>
                <stringValue>Lab issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Type__c</field>
            <value>
                <stringValue>TAT ALERT</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Record_Look_up_for_Accession</name>
        <label>Record Look up for Accession #</label>
        <locationX>276</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Final_Report_Date</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Guardant360_recordID</elementReference>
            </value>
        </filters>
        <object>Guardant_360_Sample__c</object>
        <outputAssignments>
            <assignToReference>VarReportDate</assignToReference>
            <field>Final_Report_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Accession_Number</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Wait_for_10_Days</startElementReference>
    <status>Draft</status>
    <variables>
        <name>Accession_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Account_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contact_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Guardant360_recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_10_Days</name>
        <label>Wait for 10 Days</label>
        <locationX>209</locationX>
        <locationY>7</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>wait_for_10_days_to_create_a_case</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Record_Look_up_for_Accession</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>Guardant360_recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>Date_Received__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Guardant_360_Sample__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Days</stringValue>
                </value>
            </inputParameters>
            <label>wait for 10 days to create a case</label>
        </waitEvents>
    </waits>
</Flow>
