flows/Update_Sample_ICD_Lookup_Fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Update Sample ICD Lookup Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sample ICD Lookup Fields</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Primary_Code</name>
        <label>Lookup Primary Code</label>
        <locationX>233</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Secondary_Code</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSampleRecord.Primary_ICD_Code__c</elementReference>
            </value>
        </filters>
        <object>ICD_Code__c</object>
        <outputAssignments>
            <assignToReference>varSampleRecord.Primary_ICD_Code_Lookup__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Sample</name>
        <label>Lookup Sample</label>
        <locationX>57</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Primary_Code</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSampleId</elementReference>
            </value>
        </filters>
        <object>Guardant_360_Sample__c</object>
        <outputReference>varSampleRecord</outputReference>
        <queriedFields>Primary_ICD_Code__c</queriedFields>
        <queriedFields>Primary_ICD_Code_Lookup__c</queriedFields>
        <queriedFields>Secondary_ICD_Code__c</queriedFields>
        <queriedFields>Secondary_ICD_Code_Lookup__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Secondary_Code</name>
        <label>Lookup Secondary Code</label>
        <locationX>383</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Sample_Record</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSampleRecord.Secondary_ICD_Code__c</elementReference>
            </value>
        </filters>
        <object>ICD_Code__c</object>
        <outputAssignments>
            <assignToReference>varSampleRecord.Secondary_ICD_Code_Lookup__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sample_Record</name>
        <label>Update Sample Record</label>
        <locationX>542</locationX>
        <locationY>60</locationY>
        <inputReference>varSampleRecord</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Sample</startElementReference>
    <status>Active</status>
    <variables>
        <name>varSampleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSampleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guardant_360_Sample__c</objectType>
    </variables>
</Flow>
