flows/Update_Sample_Fax.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Fax_From_Contact</name>
        <label>Assign Fax From Contact</label>
        <locationX>452</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>varSampleRecord.Sample_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSampleRecord.Contact_Fax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sample_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Sample_Fax</name>
        <label>Update Sample Fax</label>
        <locationX>282</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>varSampleRecord.Sample_Fax_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAffiliationRecord.Affiliated_Fax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Sample_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_an_Affiliation</name>
        <label>Is there an Affiliation</label>
        <locationX>280</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>Assign_Fax_From_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAffiliationRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sample_Fax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Sample Fax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sample Fax</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Affiliation</name>
        <label>Lookup Affiliation</label>
        <locationX>277</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_Affiliation</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSampleRecord.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSampleRecord.Contact__c</elementReference>
            </value>
        </filters>
        <object>Affilation__c</object>
        <outputReference>varAffiliationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Affiliated_Fax__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Sample</name>
        <label>Lookup Sample</label>
        <locationX>109</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Affiliation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSampleId</elementReference>
            </value>
        </filters>
        <object>Guardant_360_Sample__c</object>
        <outputReference>varSampleRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sample_Fax_Number__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contact_Fax__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sample_Record</name>
        <label>Update Sample Record</label>
        <locationX>458</locationX>
        <locationY>302</locationY>
        <inputReference>varSampleRecord</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Sample</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAffiliationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Affilation__c</objectType>
    </variables>
    <variables>
        <name>varSampleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSampleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guardant_360_Sample__c</objectType>
    </variables>
</Flow>
